body, html {
  background-color: black;
  margin: 0;
  padding: 0;
}

header{
  text-align: center;
}

p{
  color: white;
}

h1{
  text-decoration: underline; /* Aplica un subrayado al texto del h1 */
  color: white;
  text-align: center;
}
h2{
  color: #ffffff;
  text-align: center;
}

b{
  color: #ffffff;
  font-size: 30px; /* Elige el tamaño de fuente que desees */
}

.imagen_resultado{
  width: 40%;
  height: 30%;
  margin: 0 auto;/*Centra el contenido horizontalmente*/
  border-radius: 10px; /*Le da una forma redonda al cuadrado del sub-container*/
  background-color: rgba(29, 81, 177, 0.5);

}

 
.container{
  background-size: cover; /* Ajusta el tamaño para cubrir todo el fondo*/ 
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  overflow: hidden; /* Controlar el desbordamiento */
  margin: 0; /* Elimina el margen en el elemento contenedor principal */
  padding: 0; /* Elimina el relleno en el elemento contenedor principal (si lo hubiera) */
}


.sub-container {
  text-align: center; /*Alinea el texto de los sub-containers*/
  width: 30%; /*Porcentaje de ancho*/
  height: 7%; /*Porcentaje de alto*/
  flex-grow: 1;
  padding: 10px; /*Establece el borde de los sub-containers*/
  margin: 20px; /*Establece el borde de los sub-containers*/
  border-radius: 10px; /*Le da una forma redonda al cuadrado del sub-container*/
}

.sub-container2 {
  text-align: center; /*Alinea el texto de los sub-containers*/
  width: 400%; /*Porcentaje de ancho*/
  height: 20%; /*Porcentaje de alto*/
  flex-grow: 1;
  padding: 10px; /*Establece el borde de los sub-containers*/
  margin: 20px; /*Establece el borde de los sub-containers*/
  border-radius: 10px; /*Le da una forma redonda al cuadrado del sub-container*/
}


#Titulo{
  color: white; /*Cambia el color*/
  font-family: Verdana; /*cambia el tipo de letra*/
  font-weight: 20;/*cambia el grosor de la letra*/
  text-align: center;
  font-size: 50px;
}

#container1 {
  background-color: black;
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 100vh; /*Ocupa el total del alto de la pantalla*/
  justify-content: center;  /*Centrar horizontalmente */
  /* align-items: center; /* Centrar verticalmente */
 
}

#container2 {
  background-color: black;
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 300vh; /*Ocupa el total del alto de la pantalla*/
  display: flex; /* Convertir el contenedor principal en un contenedor flexible */
  justify-content: space-around; /* Espacio igual entre sub-contenedores */
  align-items: center; /* Centrar verticalmente los sub-contenedores */
  flex-direction: row;/*Establece que el orden es en horizontal*/
  flex-wrap: wrap; /*Permite meter items y crear multilineas*/
  justify-content: space-evenly; /*Separa a los sub-containers en spacios iguales*/
 /* align-content: space-between;/*Distribuye los items desde el principio hasta el final*/
}

#container3 {
  border: 10px solid rgba(29, 81, 177, 0.5); /* Agregar un borde para resaltar los márgenes */
  color: white;
  text-align: center;
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 100vh; /*Ocupa el total del alto de la pantalla*/
}

#container4 {
  background-color: black;
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 100vh; /*Ocupa el total del alto de la pantalla*/
  display: flex; /* Convertir el contenedor principal en un contenedor flexible */
  justify-content: space-around; /* Espacio igual entre sub-contenedores */
  align-items: center; /* Centrar verticalmente los sub-contenedores */
  flex-direction: row;/*Establece que el orden es en horizontal*/
  flex-wrap: wrap; /*Permite meter items y crear multilineas*/
  justify-content: space-evenly; /*Separa a los sub-containers en spacios iguales*/
 /* align-content: space-between;/*Distribuye los items desde el principio hasta el final*/
}


.sub-container img { /*Imagen de los contenedores*/
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.sub-container2 img { /*Imagen de los contenedores*/
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.sub-container a { /*Titulo de los contenedores*/
  color: white;
  font-size: 25px;
  margin-top: 0px;
}

#Buscador{
  background-color: rgba(58, 188, 184, 0.5); /* Color blanco con 50% de opacidad */
  height: 8%;
  border: 1px solid #ccc; /* Añadir un borde para resaltar el campo de búsqueda */
  padding: 10px; /* Añadir un poco de espacio interno para mejorar la apariencia */
}

#search-input {
  width: 70%; /* Ancho del cuadro de entrada de texto */
  height: 85%; /* Altura del cuadro de entrada de texto */
  font-size: 30px; /* Tamaño de la fuente dentro del cuadro de entrada de texto */
  background-color: rgba(58, 188, 184, 0.5);
  color: white; /* Color del texto del botón */
}

#Buscador input[type="submit"] {
  width: 20%; /* Ancho del botón */
  height: 85%; /* Altura del botón */
  font-size: 30px; /* Tamaño de la fuente dentro del botón */
  background-color: rgba(58, 188, 184, 0.5); /* Color de fondo del botón */
  border: 3px;
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  color: white; /* Color del texto del buscador */
}

.Boton{
  background-color: rgb(58, 188, 184, 0.5);
  color: #ffffff;
  padding: 10px 20px;
  border: 4px;
  cursor: pointer;
  margin: 5px;
  font-size: 40px;
  font-weight: 20;/*cambia el grosor de la letra*/
  transition: background-color 0.3s ease; /*Timpo de la transicion*/
  text-decoration: none; /* Elimina el subrayado */
  justify-content: space-evenly;
}

.Boton:hover {
  background-color: #1d559f;
}

.container-Botones{
  display: flex; /* Utilizamos Flexbox para alinear los botones */
}





#Pagina_Funcion{
  background-color: #135996;
  margin: 0;
  padding: 0;
}
.contenedor {
  background-color: black;
  display: flex; /* Establece el contenedor como un contenedor flexible */
  justify-content: space-between; /* Alinea los elementos hijos horizontalmente */
  flex-direction: row;/*Establece que el orden es en horizontal*/
  flex-wrap: wrap; /*Permite meter items y crear multilineas*/
  justify-content: space-evenly; /*Separa a los sub-containers en spacios iguales*/
  overflow: hidden; /* Controlar el desbordamiento */
}
.elemento {
  width: 30%;
  height: 35%;
  margin: 10px; /* Espacio entre los elementos */
  text-align: center; /* Alinea el contenido al centro horizontalmente */
}
.elemento img {
  width: 100%;
  height: 100%;
  
}
.elemento a{
  color: white;
  font-size: 25px;
  margin-top: 0px;
  font-family: Verdana; /*cambia el tipo de letra*/
  font-weight: 20;/*cambia el grosor de la letra*/
}

#contenedor1{
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 80vh; /*Ocupa el total del alto de la pantalla*/
}
#contenedor2{
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 80vh; /*Ocupa el total del alto de la pantalla*/
}
#contenedor3{
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 60vh; /*Ocupa el total del alto de la pantalla*/
}
#contenedor4{
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 60vh; /*Ocupa el total del alto de la pantalla*/
}
#contenedor5{
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 60vh; /*Ocupa el total del alto de la pantalla*/
}
#contenedor6{
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 60vh; /*Ocupa el total del alto de la pantalla*/
}
#contenedor7{
  width: 100vw;/*Ocupa el 100% del ancho de la pantalla*/
  height: 60vh; /*Ocupa el total del alto de la pantalla*/
}
